<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style type="text/css">

      html, body {
        background-color: #F4F5F7;
        font-family: Arial, Helvetica, Sans-serif; margin: 0; padding:0;
        height: 595px;
        overflow: hidden !important;
      }

      .container {
        background: #f1f1f2 url('http://static.agora2030.colabideias.com.br/certificate/certificate-bg.jpg') top left no-repeat; 
        height: 595px;
      }

      .body {
        padding-top: 300px;
      }

      .body, footer , table{
        margin-left: auto;
        margin-right: auto;
        width: 630px;        
      }

      .text {
        font-size: .75em;
        text-align: justify;
        line-height: 130%;
      }

      .city {
        text-align: center !important;
        margin-top: -8px;
      }

      img.assin {
        height: auto !important;
        width: 150px !important;
      }

      
      td {
        position: relative;
        text-align: center;
      }

      td img {
        position: absolute;
      }

      .coord-geral img {
        top: -20px;
        margin-left: -70px;
      }
      .coord-cient img {
        top: -40px;
        margin-left: -80px;
      }

      .coord-geral p, .coord-cient p {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="body">
        <p class="text">Certificamos que <strong>{{name}}</strong> foi curador no evento Desafio Ágora 2030: “Tecnologias sociais”, promovido pela Fiocruz em parceria com Ministério da Saúde, totalizando 40 (quarenta) horas em um processo de curadoria que implicou na interação virtual com 40 (quarenta) iniciativas com o intuito de valorizar, qualificar e estimular inovações no campo da saúde, ciência e tecnologia associadas aos Objetivos do Desenvolvimento Sustentável da Agenda 2030.</p>

        <p class="text city">Brasília, {{dateFomated}}</p> 
      </section>

      <footer>
        <table>
          <tr>
            <td class="coord-geral">
              <img src="http://static.agora2030.colabideias.com.br/certificate/assinatura-paulo.png" alt="" class="assin">
              <p>
                <small>Paulo Gadelha</small>
                <br />
                <small>Fiocruz Agenda 2030</small>
              </p>
            </td>
            <td class="coord-cient">
              <img src="http://static.agora2030.colabideias.com.br/certificate/assinatura-wagner.png" alt="" class="assin">
              <p>
                <small>Wagner Martins</small>
                <br />
                <small>Ágora Fiocruz</small>
              </p>
            </td>
          </tr>
        </table> 
      </footer>
    </div>
  </body>
</html>